In [1]:
!pip install --user pandas -i https://pypi.douban.com/simple/

Requirement already satisfied: pandas in c:\users\x\appdata\roaming\python\python36\site-packages
Requirement already satisfied: python-dateutil>=2 in c:\users\x\miniconda3\envs\fcnd\lib\site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in c:\users\x\miniconda3\envs\fcnd\lib\site-packages (from pandas)
Requirement already satisfied: numpy>=1.9.0 in c:\users\x\miniconda3\envs\fcnd\lib\site-packages (from pandas)
Requirement already satisfied: six>=1.5 in c:\users\x\miniconda3\envs\fcnd\lib\site-packages (from python-dateutil>=2->pandas)

You are using pip version 9.0.3, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import os

def load_log(log_name):
    path = os.path.join("config", "log", log_name)
    return pd.read_csv(path)

In [10]:
gps_x_log = load_log('Graph1.txt')
gps_x_log.describe()

            time   Quad.GPS.X
count  97.000000    97.000000
mean    4.904882    -0.006961
std     2.814488     0.718127
min     0.105000    -2.137415
25%     2.505001    -0.470706
50%     4.904827     0.025832
75%     7.304653     0.509784
max     9.705292     1.467844

In [11]:
accel_x_log = load_log('Graph2.txt')
accel_x_log.describe()

              time   Quad.IMU.AX
count  1943.000000   1943.000000
mean      4.859881     -0.018146
std       2.805140      0.489585
min       0.005000     -1.866650
25%       2.432506     -0.346249
50%       4.859830     -0.014745
75%       7.287154      0.301092
max       9.715296      1.981731